@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:#1E150F
;
  --color-secondary: #FFB74D
;
}
.btn-primary{
  @apply px-8 py-4 bg-orange-300 text-primary rounded-full font-semibold 
}
.btn-primary:hover{
  @apply bg-[#1E150F] px-8 py-4  text-orange-300 rounded-full font-semibold border 
}